[submodule "fri"]
	path = fri
	url = git@github.com:lbr-stack/fri.git
[submodule "lbr_fri_idl"]
	path = lbr_fri_idl
	url = https://github.com/RROS-Lab/serl_lbr_fri_idl.git
	branch=serl-kuka
[submodule "lbr_fri_ros2_stack"]
	path = lbr_fri_ros2_stack
	url = https://github.com/RROS-Lab/serl_lbr_fri_ros2_stack.git
	branch=serl-kuka
[submodule "data_collector"]
	path = data_collector
	url = https://github.com/nikitasarawgi/expert_data_collector.git
	branch = data-collector-only
